<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="data:," />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
    <title>To Do</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-md navbar-light"
      style="background-color: #a683e3"
      ;
    >
      <a class="navbar-brand" href="/"><h3 style="color: beige;"><i class="fas fa-clipboard-list"></i>To-Do List</h3></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create List
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div style="margin-left: 3px; width: 95%;">
                <label for="listName">List name here:</label>
                <input type="text" class="form-control mr-sm-2" "></input>
                <button type="submit" class="btn btn-sm btn-dark" style="margin-top: 3px;">Create</button>
              </div>
                
              <!-- <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
        </ul>
        <!-- <div>
            <a class="btn btn-outline-dark btn-md" role="button" href="/register" style="margin-right: 3px;margin-bottom: 4px;"><i class="fas fa-user-plus"></i>Register</a>
        </div>
           <div>
            <a class="btn btn-outline-light btn-md" role="button" href="/login" style="margin-right: 3px;margin-bottom: 4px;"><i class="fas fa-sign-in-alt"></i>Login</a>
           </div>  -->
           <!-- <a class="btn btn-outline-dark btn-md" href="/register" role="button">Register</a>
    <a class="btn btn-outline-light btn-md" href="/login" role="button">Login</a> -->
      </div>
    </nav>
 
