<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="data:," />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <title>To Do</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-md navbar-light"
      style="background-color: #a683e3"
      ;
    >
      <a class="navbar-brand" href="/"
        ><h3 style="color: beige">
          <i class="fas fa-clipboard-list" style="margin-right: 4px"></i>To-Do
          List
        </h3></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Create List
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div style="margin-left: 3px; width: 95%">
                <label for="listName">List name here:</label>
                <input type="text" class="form-control mr-sm-2" />
                <button
                  type="submit"
                  class="btn btn-sm btn-dark"
                  style="margin-top: 3px"
                >
                  Create
                </button>
              </div>

              <!-- <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </li>
        </ul>
        <div>
          <a
            class="btn btn-outline-dark btn-md"
            role="button"
            href="/register"
            style="margin-right: 3px; margin-bottom: 4px"
            ><i class="fas fa-user-plus"></i>Register</a
          >
        </div>
        <div>
          <a
            class="btn btn-outline-light btn-md"
            role="button"
            href="/login"
            style="margin-right: 3px; margin-bottom: 4px"
            ><i class="fas fa-sign-in-alt"></i>Login</a
          >
        </div>
        <!-- <a class="btn btn-outline-dark btn-md" href="/register" role="button">Register</a>
        <a class="btn btn-outline-light btn-md" href="/login" role="button">Login</a> -->
      </div>
    </nav>
    <!-- ########################################Body content ##########################################################33-->
    <div class="container home-page">
      <div class="main-image">
        <img src="../Assets/to-do-list-2.PNG" class="image1" alt="Img1" />
        <img src="../Assets/to-do-list-1.PNG" class="image2" alt="img2" />
      </div>

      <div class="row text-row">
        <!-- <div class="container-fluid"> -->
        <div class="col-md-6 align-self-center">
          <h1>Simple tool to organise everything</h1>
          Do you often feel completely overwhelmed with the amount of work you’ve got to do? Don’t think you’re unusual because there are thousands of people who struggle with the same every day, not just in the workplace but in their personal life too. Luckily, there is something very simple you can do to keep your life and work more organised.
        This To-do list app will help you stay organized. Just register and login and get a well organized and hassle free day.
        </div>
        <!-- </div> -->

        <div class="col-md-5">
          <img
            src="../Assets/to-do-list-4.PNG"
            class="home-image"
            alt="lorem picsum"
          />
        </div>
      </div>

      <div class="row text-row alt-text-row">
        <!-- <div class="container-fluid"> -->
        <div class="col-md-5">
          <img
            src="../Assets/to-do-list-6.PNG"
            class="home-image"
            alt="lorem picsum"
          />
        </div>
        <div class="col-md-6 align-self-center">
         <h1>Create Custom lists</h1>
         Seperate your personal and professional life with Custom lists feature of this To-Do list app. Write all your tasks in a list and they will begin to seem more manageable.<br>
         When you complete a task, you can cross it off your list. This gives you a sense of progress and achievement, something you’ll lack if you’re always rushing from one task to the next.
        </div>
        <!-- </div> -->
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <footer>
      ©2021<br />
      Made by Palak Kumari
    </footer>
  </body>
</html>
